<link href="~/styles/font-awesome.min.css" rel="stylesheet" />
<link href="~/styles/style.css" rel="stylesheet" />

<body>
    <div class="main-bg">
        <!-- title -->
        <h1>Posao</h1>
        <!-- //title -->
        <!-- content -->
        <div class="sub-main-w3">
            <div class="bg-content-w3pvt">
                <div class="top-content-style">
                    <img src="images/user.jpg" alt="" />
                </div>
                <form action="#" method="post">
                    <p class="legend">Login Here<span class="fa fa-hand-o-down"></span></p>
                    <div class="input">
                        <input type="UserName" placeholder="UserName" name="UserName" required />
                        <span class="fa fa-envelope"></span>
                    </div>
                    <div class="input">
                        <input type="Password" placeholder="Password" name="Password" required />
                        <span class="fa fa-unlock"></span>
                    </div>
                    <button type="submit" class="btn submit">
                        <span class="fa fa-sign-in"></span>
                    </button>
                </form>
                <a href="#" class="bottom-text-w3ls">Forgot Password?</a>
            </div>
        </div>

    </div>
</body>
</html>